<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universal Recommendations</title>
    <link rel="stylesheet" href="../static/css/css.css">
    <!-- <link rel="stylesheet" href="../static/css/css.css"> -->
</head>

<body>

    <div class="bg-elements">
        <span></span>
        <span></span>
    </div>

    <div class="container">
        <h1>Recommendation system</h1>

        <div class="search-container">
            <input name="user_input" type="text" class="search-box" placeholder="Search movies, books, songs...">
            <button class="search-btn">Search</button>
        </div>

        <div class="category-filter">
            <button class="category-btn active" data-category="all">All</button>
            <button class="category-btn" data-category="movies">🎥 Movies</button>
            <button class="category-btn" data-category="books">📖 Books</button>
            <button class="category-btn" data-category="songs">🎶 Songs</button>
            <!-- <button class="category-btn" id="recc" data-category="recommend"> Recommend </button> -->
        </div>

        <div class="recommendations" id="recommendations">
        </div>
    </div>

    <script src="../static/css/js/script2.js"></script>
</body>
</html>